@media screen and (min-width: 319px) and (max-width:480px) {
.header>ul>li
{
	width:100%;
	margin:0px;
	padding:0px;
	float:none;
	text-align:center;
	background-color:black;
}
.right>*
{
	display:none;
}
}
